.dishesSide {
    border: 1px solid black;
    display: inline-block;
    padding: 15px;
    border-radius: 13px;
    text-align: center;
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    gap: 10px;
}

.dish {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s;
}

.dish:hover {
    transform: translateY(-5px);
    background: #e8e8e8;
}

.text {
    border-left: 1px solid black;
    padding-left: 13px;
}




